:root {
	--black: #322105;
	--grey: #70695E;
	--milk: #E0D8D1;
	--beige: #F5EEE7;
	--blue: #25BFE9;


	--z-header: 50;
	--z-search: 60;
	--z-mask: 70;
	--z-modal: 100;
	--z-animation: 110;

	--container-padding: 60px;

	--section-border-radius: 80px;

	@media (width < 1440px) {
		--container-padding: 50px;
	}

	@media (width < 1024px) {
		--container-padding: 40px;
		--section-border-radius: 60px;
	}

	@media (width < 768px) {
		--container-padding: 30px;
		--section-border-radius: 40px;
	}

	@media (width < 425px) {
		--container-padding: 20px;
	}
}