@import "fonts";
@import "nullstyle";
@import "vars";

@import "abstracts/mixins";
@import "abstracts/templates";

@import "components/header";
@import "components/footer";
@import "components/arrows";
@import "components/input";
@import "components/checkbox";
@import "components/popovers";
@import "components/textarea";
@import "components/tabs";
@import "components/accordion";
@import "components/post";
@import "components/search";

@import "components/sections";

.page_main {
	@import "pages/main";
}

.page_blog {
	@import "pages/blog-and-news";
}

.page_news {
	@import "pages/blog-and-news";
}

.page_faq {
	@import "pages/faq";
}

.page_contacts {
	@import "pages/contacts";
}

.page_comments {
	@import "pages/comments";
}

.page_instruction {
	@import "pages/instruction";
}

.page_milk-exosomes {
	@import "pages/milk-exosomes";
}

.page_why-reversha {
	@import "pages/why-reversha";
}

.page_partners {
	@import "pages/partners";
}

html {
	&._lock-scroll {
		overflow: hidden;
		scrollbar-gutter: stable;

		.mask {
			opacity: 1;
			pointer-events: all;
		}
	}

	@media (width >=1024px) {
		&._animation {
			overflow: hidden;
			scrollbar-gutter: stable;
		}
	}
}

body {
	color: var(--black);

	font-family: Bounded;
}

.container {
	max-width: 1920px;
	padding: 0 var(--container-padding);
	margin: auto;
}

.mask {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #00000054;
	z-index: var(--z-mask);
	pointer-events: none;
	opacity: 0;
	transition: .3s;
}