.contacts {
	margin-top: 190px;

	h1 {
		@extend %h2;
	}

	.map-and-accordions {
		margin-top: 40px;
		display: flex;
		gap: 20px;
	}

	.map {
		flex: 0 1 1042px;
		border-radius: 40px;
		contain: paint;
		height: 772px;

		>* {
			width: 100%;
			height: 100%;
		}
	}

	.accordions {
		flex: 0 1 738px;
	}

	.accordion__q {
		@extend %h5;
	}

	.accordion__a {
		@extend %txt;
	}

	.accordion__content {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.text {
		margin-top: 10px;

		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	@media (width < 1440px) {
		margin-top: 150px;

		.map {
			aspect-ratio: 335/248;
			height: unset;
			flex: unset;
		}

		.map-and-accordions {
			flex-direction: column;
		}

		.accordions {
			flex: unset;
			gap: 16px;
			display: flex;
			flex-direction: column;
		}
	}

	@media (width < 1024px) {
		margin-top: 100px;

		.map {
			border-radius: 30px;
		}
	}

	@media (width < 768px) {
		.map-and-accordions {
			gap: 16px;
		}

		.map {
			border-radius: 20px;
		}
	}
}

.links {
	margin-top: 60px;
	margin-bottom: 160px;

	.container {
		display: flex;
		gap: 20px;
	}

	.link {
		height: 136px;
		border: 1px solid #70695E;
		border-radius: 40px;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;

		img,
		svg {
			width: 52px;
		}

		@extend %txt;
		font-size: 20px;

		flex: 1 1 0;

		&:first-child {
			flex: 0 1 558px;
		}
	}

	@media (width < 1440px) {
		margin-bottom: 140px;

		.container {
			gap: 10px;
		}

		.link {
			&:first-child {
				flex: 0 1 400px;
			}
		}
	}

	@media (width < 1024px) {
		margin-bottom: 110px;

		.container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		.link {
			&:first-child {
				grid-column: span 2;
			}
		}

		.link {
			border-radius: 30px;
			height: 98px;
		}
	}

	@media (width < 768px) {
		margin-bottom: 80px;

		.link {
			border-radius: 20px;
		}
	}
}