h1 {
	@extend %page-title;
}

.section_accordions {
	@media (width < 768px) {
		margin-top: 40px;
	}
}

.question-form {
	padding: 60px 0;
	margin-top: 80px;

	background: url("../images/banners/2.webp") right / contain no-repeat #F5F3F4;

	position: relative;

	&::after {
		content: "";
		right: 1018px;
		top: 0;
		height: 100%;
		width: 240px;
		background: linear-gradient(90deg, #F5F3F4, transparent);
		position: absolute;
		z-index: 1;
	}

	* {
		position: relative;
		z-index: 2;
	}

	.logo {
		opacity: .4;
		width: 187px;

		img {
			width: 100%;
		}
	}

	.title {
		margin-top: 80px;
		@extend %h5;
	}

	.subtitle {
		margin-top: 24px;

		@extend %txt;
		opacity: .7;
	}

	.form {
		margin-top: 24px;

		display: flex;
		gap: 20px;
		flex-direction: column;

		max-width: 503px;
	}

	.component_textarea {
		height: 116px;
	}

	.submit {
		align-self: start;
		@extend %button-black-border;
	}

	.agreement {
		@extend %agreement;
	}


	@media (width < 1440px) {
		&::after {
			display: none;
		}

		background: url("../images/banners/2.webp") right / cover no-repeat #F5F3F4;
	}

	@media (width < 1024px) {
		background: #F5F3F4;

		display: none;
	}
}

.component_search {
	margin-top: 40px;

	@media (width < 768px) {
		margin-top: 20px;
	}
}

footer {
	@media (width < 1024px) {
		margin-top: 80px;
	}
}