.use-instruction {
	margin: 172px 0 164px;

	h1 {
		@extend %h2;
	}

	.head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 32px;
	}

	.download {
		flex: 0 0 auto;
		@extend %button-black-border;
	}

	.component_tab-head {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	b {
		font-size: 20px;
	}

	.tab-content {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 40px;
		row-gap: 60px;

		&[data-tab="tab-1"] {
			gap: 20px;

			.card {
				padding: 40px;
				border-radius: 40px;
				border: 1px solid #EBEBEB;

				display: flex;
				flex-direction: column;
				gap: 40px;
			}
		}

		&[data-tab="tab-4"] {
			grid-template-columns: 1fr 1fr;
		}
	}

	.text {
		display: flex;
		gap: 12px;
		flex-direction: column;
		@extend %txt;
		color: #70695E;
	}

	._small {
		text-transform: lowercase;
	}

	@media (width < 1440px) {
		margin: 140px 0 120px;

		m .tab-content {
			&[data-tab="tab-1"] {
				.card {
					padding: 30px;
					border-radius: 30px;
					gap: 30px;
				}
			}
		}
	}

	@media (width < 1024px) {
		.component_tab-head {
			margin: 40px 0;
		}

		.head {
			flex-direction: column;
			align-items: start;
			gap: 20px;
		}

		.download {
			height: 46px;
			padding: 0 20px;
			font-size: 16px;
		}

		.tab-content {
			grid-template-columns: 1fr 1fr;
			gap: 30px;

			&[data-tab="tab-1"] {
				grid-template-columns: 1fr;

				.card {
					padding: 20px;
					border-radius: 20px;
					gap: 20px;

					align-items: center;
					text-align: center;
				}
			}

			&[data-tab="tab-4"] {
				grid-template-columns: 1fr;
			}
		}
	}

	@media (width < 768px) {
		margin: 100px 0 80px;

		.tab-content {
			grid-template-columns: 1fr;
			gap: 20px;

			&[data-tab="tab-1"] {
				gap: 12px;
			}
		}
	}
}