.start-wrapper {
	position: relative;
	background: var(--milk);
	border-radius: 0 0 var(--section-border-radius) var(--section-border-radius);

	contain: paint;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 60%;
		aspect-ratio: 866/969;
		z-index: 1;
		background: url("../images/gradients/1.webp") left top / cover;
	}

	@media (width < 1024px) {
		background: var(--beige);

		&::after {
			display: none;
		}
	}
}

.video {
	height: 0;
	position: sticky;
	top: 0;

	video {
		width: 130%;
		height: 100vh;
		object-fit: cover;
	}

	@media (width < 1024px) {
		video {
			width: 100%;
		}
	}

	@media (width < 768px) {
		position: absolute;
		top: 185px;
		height: auto;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 145px;
			background: linear-gradient(180deg, #F5EEE7, transparent);
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 268px;
			background: linear-gradient(0deg, #F5EEE7, transparent);
		}

		video {
			height: 541px;
		}
	}
}

.start {
	position: relative;
	z-index: 2;

	padding-top: 166px;

	.logo {
		width: 453px;
	}

	.title {
		margin-top: 40px;
		max-width: 1020px;

		@extend %h1;
	}

	.subtitle {
		margin-top: 10px;
		@extend %h2;
	}

	.text {
		margin-top: 130px;

		font-size: 36px;
		font-family: Manrope;
		line-height: 1.4;
	}

	.buttons {
		margin-top: 60px;

		display: flex;
		gap: 24px;
	}

	.learn-more {
		@extend %button-primary;
	}

	.manual {
		@extend %button-black-border;
	}

	@media (width < 1440px) {
		.logo {
			width: 400px;
		}

		.text {
			font-size: 30px;
		}
	}

	@media (width < 1024px) {

		.logo {
			width: 350px;
		}

		.text {
			font-size: 26px;
		}
	}

	@media (width < 768px) {
		padding-top: 104px;
		text-align: center;

		.logo {
			margin: 0 auto;
			width: 300px;
		}

		.title {
			margin-top: 26px;
		}

		.subtitle {
			display: none;
		}

		.buttons {
			margin-top: 33px;

			justify-content: center;
			flex-direction: column;
			gap: 12px;
		}

		.text {
			margin-top: 270px;
			font-size: 22px;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				z-index: -1;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
				width: 160%;
				height: 153px;
				background: radial-gradient(#F5EEE7 20%, transparent 70%);
			}
		}
	}

	@media (width < 425px) {
		.logo {
			width: 222px;
		}

		.text {
			font-size: 18px;
		}

		.buttons {
			align-items: center;
		}
	}
}

.start-slides {
	margin-top: 200px;
	padding-bottom: 140px;

	position: relative;
	z-index: 2;

	.splide__slide {
		border-radius: 40px;
		overflow: hidden;
		background: #B4AA95;

		width: 435px;
		height: 440px;

		padding: 40px;

		display: flex;
		align-items: start;
		flex-direction: column;

		>*:not(.bg) {
			z-index: 2;
		}
	}

	.splide__track {
		@extend %splide-negative-margin;
	}

	.bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.item-title {
		@extend %h3;
		color: white;
	}

	.item-button {
		@extend %button-white-border;
		margin-top: auto;
	}

	@media (width < 1440px) {
		margin-top: 160px;
		padding-bottom: 100px;

		.splide__slide {
			width: 400px;
			height: 400px;
		}
	}

	@media (width < 1024px) {
		margin-top: 100px;
		padding-bottom: 60px;

		.item-button {
			background: transparent;
			border: 1px solid white;
			backdrop-filter: blur(20px);
			color: white;
		}

		.splide__slide {
			width: 350px;
			height: 350px;
			border-radius: 30px;
		}
	}

	@media (width < 768px) {
		margin-top: 60px;

		.splide__slide {
			padding: 20px;
			border-radius: 20px;
			width: 300px;
			height: 300px;
		}

		@media (width < 768px) {
			padding-bottom: 30px;
		}

		@media (width < 425px) {
			padding-bottom: 20px;
		}
	}
}

// --------------------------------------------------------------------------------------------------

.wheel-section {
	cursor: pointer;
	background: linear-gradient(228deg, rgba(224, 216, 209, 1) 0%, rgba(255, 255, 255, 1) 23%, rgba(224, 216, 209, 1) 100%, rgba(224, 216, 209, 1) 56%);
	padding-top: 160px;
	contain: paint;
	height: 924px;

	.title {
		@extend %h2;
	}

	.wheel {
		margin-top: 164px;
		width: 100%;
		aspect-ratio: 1;

		position: relative;

		border: 1px solid rgba($color: #322105, $alpha: 0.1);
		border-radius: 50%;

		text-align: center;
	}

	.step {
		position: absolute;

		display: flex;
		flex-direction: column;
		align-items: center;

		contain: paint;

	}

	.point {
		--margin: 26px;
		width: 12px;
		height: 12px;
		background: var(--black);
		border-radius: 50%;
		margin: var(--margin) 0;
	}

	hr {
		--height: 114px;
		--width: 1px;
		height: var(--height);
		width: var(--width);
		background: var(--black);
		border-radius: 50%;
		opacity: .7;
	}

	.subtitle {
		@extend %h3;
		max-width: 350px;
	}

	.text {
		--margin: 26px;
		margin-top: var(--margin);
		opacity: .7;
		font-family: Manrope;
		@extend %txt;
	}

	.number {
		font-size: 24px;
		font-weight: 300;

		width: 72px;
		height: 72px;
		border-radius: 50%;
		border: 1px solid var(--grey);

		display: flex;
		align-items: center;
		justify-content: center;
	}

	.first {
		top: -104px;
		left: 50%;
		translate: -50% 0;
	}

	.second {
		right: -104px;
		top: 50%;
		translate: 0 -50%;
		writing-mode: vertical-rl;

		.point {
			margin: 0 var(--margin);
		}

		hr {
			width: var(--height);
			height: var(--width);
		}

		.text {
			margin: 0;
			margin-right: var(--margin);
		}
	}

	.third {
		bottom: -104px;
		left: 50%;
		translate: -50% 0;
		rotate: 180deg;
	}

	@media (width < 1500px) {
		.wheel {
			position: absolute;
			top: 35%;
			left: 50%;
			translate: -50%;
		}
	}

	@media (width < 1440px) {
		padding-top: 100px;
		height: 800px;
	}

	@media (width < 1200px) {
		.wheel {
			width: 150%;
		}
	}

	@media (width < 768px) {
		padding: 60px 0;
		height: 740px;

		.wheel {
			top: 230px;
			width: 200%;
		}

		.text {
			font-size: 16px;
		}

		.subtitle {
			max-width: 287px;
		}
	}

	@media (width < 500px) {
		.wheel {
			width: 300%;
		}
	}

	@media (width < 375px) {
		.second {
			br {
				display: none;
			}

			height: 100vw;
			padding: var(--container-padding) 0;
		}
	}
}

// --------------------------------------------------------------------------------------------------

.banner {
	margin-top: -88px;
	position: relative;
	height: 1035px;

	padding: 150px 0 60px;

	overflow: hidden;

	.bg {
		@extend %image-bg;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: space-between;

		height: 100%;
	}

	.logo {
		width: 187px;
		opacity: .4;
	}

	.text {
		@extend %h3;
		text-align: right;
	}

	@media (width < 1300px) {
		color: white;

		.logo {
			opacity: .3;
		}
	}

	@media (width < 1024px) {
		padding: 120px 0 40px;
	}

	@media (width < 768px) {
		height: 690px;

		.container {
			align-items: center;
		}

		.text {
			text-align: center;

			br {
				display: none;
			}

			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
				width: 250%;
				height: 255px;
				background: radial-gradient(#322105 0%, transparent 50%);
				mix-blend-mode: multiply;
				z-index: -1;
				filter: blur(30px);
			}
		}
	}
}

// --------------------------------------------------------------------------------------------------

.science-data {
	padding: 160px 0;

	.title {
		@extend %h2;
	}

	.head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.splide__track {
		margin-top: 60px;
		@extend %splide-negative-margin;
	}

	.splide__slide {
		padding: 40px;
		width: 435px;

		border: 1px solid var(--grey);
		border-radius: 40px;

		display: flex;
		flex-direction: column;
	}

	.item-avatar {
		margin-bottom: auto;

		width: 165px;
		aspect-ratio: 1;

		background: var(--milk);
		border-radius: 50%;
		contain: paint;
	}

	.item-title {
		margin-top: 82px;
		@extend %h5;
	}

	.item-text {
		@extend %txt2;
		margin-top: 20px;
	}
}

// --------------------------------------------------------------------------------------------------

.section_comments {
	padding: 160px 0;

	@media (width < 1440px) {
		padding: 100px 0;
	}

	@media (width < 1024px) {
		padding: 80px 0;
	}
}

// --------------------------------------------------------------------------------------------------
.start-animation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	z-index: var(--z-animation);

	svg {
		position: absolute;
		bottom: 80px;
		left: 0;
		//width: 203%;
		overflow: visible;
	}

	._1 {
		transform-origin: 16% 63%;
	}

	._2 {
		transform-origin: 43% 63%;
	}

	@media (width < 1024px) {
		display: none;
	}
}