/*
	Component: 

	<div class="splide__arrows">
		<button class="splide__arrow splide__arrow--prev">
			<svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M25.75 30.75L18.25 23.25L25.75 15.75M45.75 23.25C45.75 10.8236 35.6764 0.75 23.25 0.75C10.8236 0.75 0.75 10.8236 0.75 23.25C0.75 35.6764 10.8236 45.75 23.25 45.75C35.6764 45.75 45.75 35.6764 45.75 23.25Z"
					stroke="#70695E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</button>
		<button class="splide__arrow splide__arrow--next">
			<svg width="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M20.75 15.75L28.25 23.25L20.75 30.75M45.75 23.25C45.75 10.8236 35.6764 0.75 23.25 0.75C10.8236 0.75 0.75 10.8236 0.75 23.25C0.75 35.6764 10.8236 45.75 23.25 45.75C35.6764 45.75 45.75 35.6764 45.75 23.25Z"
					stroke="#70695E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</button>
	</div>
*/

.splide__arrows {
	display: flex;

	.splide__arrow {
		display: flex;
		padding: 7px;


		path {
			transition: .3s;
		}

		&:disabled {
			path {
				stroke: #EBEBEB;
			}
		}
	}

	@media (width < 1024px) {
		display: none;
	}
}