.component_input {
	height: 68px;
	border-radius: 100px;
	background: #FFFFFF;
	padding: 0 20px;

	font-family: Manrope;
	font-size: 20px;

	color: var(--black);

	&::placeholder {

		color: var(--grey);
	}

	@media (width < 1440px) {
		font-size: 18px;
	}

	@media (width < 1024px) {
		height: 46px;
		font-size: 16px;
	}

	@media (width < 768px) {
		padding: 0 16px;
		font-size: 14px;
	}

	@media (width < 425px) {
		font-size: 12px;
	}
}