.component_post {
	display: flex;
	flex-direction: column;

	.item-title {
		margin-top: 24px;
		font-size: 24px;
		font-weight: 300;
		line-height: 1.4;
	}

	.item-date {
		display: inline-block;
		margin-top: 8px;
		font-family: Manrope;
		color: #70695E;
		font-size: 18px;
		line-height: 1.4;
	}

	.preview {
		padding: 40px;
		min-height: 380px;

		border-radius: 40px;
		background: var(--beige);

		position: relative;

		display: flex;
		align-items: start;
		flex-direction: column;
		gap: 30px;

		cursor: pointer;
	}

	.preview-text {
		font-family: Manrope;
		font-size: 18px;
		line-height: 1.4;

		overflow: hidden;
	}

	.preview-title {
		@extend %h3;
		text-wrap: balance;
	}

	.preview-tag {
		margin-top: auto;

		background: #FFFFFF66;
		padding: 10px;
		border-radius: 10px;

		font-family: Manrope;
		font-size: 18px;
	}

	.tag-with-avatars {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.preview-avatars {
		display: flex;
		gap: 4px;

		img {
			border-radius: 10px;
			object-fit: cover;
			flex: 0 0 100px;
			height: 120px;
		}
	}

	.preview._s {
		background: url("../images/s.png") right / contain no-repeat #EBEBEB;

		.preview-text {
			@extend %txt;
			margin-bottom: auto;
		}
	}

	.preview._u {
		background: url("../images/u.png") right / cover no-repeat var(--milk);

		&:has(.preview-avatars) {
			.preview-text {
				max-width: 250px;
			}
		}
	}

	@media (width < 1024px) {
		.preview {
			border-radius: 30px;
			padding: 30px;
			gap: 20px;
		}

		.preview-avatars {

			img {
				border-radius: 6px;
				flex: 0 0 75px;
				height: 90px;
			}
		}

		.item-title {
			margin-top: 8px;
		}

		.item-date {
			margin: 0;
		}
	}

	@media (width < 768px) {
		margin-top: 20px;

		.preview {
			padding: 20px;
			border-radius: 20px;
		}
	}
}