.component_search {
	height: 72px;
	border: 1px solid var(--grey);
	border-radius: 80px;
	max-width: 366px;
	padding: 0 20px;
	position: relative;
	z-index: var(--z-search);

	&:focus-within:not(:has(:placeholder-shown)) {
		border-radius: 40px 40px 0 0;

		&::after {
			content: "";
			position: absolute;
			bottom: 10px;
			left: 50%;
			translate: -50%;
			width: calc(100% - 40px);
			height: 1px;
			background: var(--grey);
		}

		.menu {
			display: flex;
		}
	}

	.box {
		display: flex;
		gap: 20px;
		align-items: center;
		height: 100%;
		justify-content: space-between;
	}

	.icon {
		flex: 0 0 32px;
		width: 32px;
		height: 32px;

		img,
		svg {
			width: 100%;
			height: 100%;
		}
	}

	input {
		border-radius: 200px;
		flex: 1 1 auto;
		min-width: 0;
		height: 100%;
		@extend %txt;
		font-size: 20px;

		&::placeholder {
			color: var(--grey);
		}
	}

	.menu {
		position: absolute;
		width: calc(100% + 2px);
		height: 390px;
		left: -1px;
		top: calc(100% - 10px);
		overflow-y: auto;

		display: none;
		padding: 10px 20px;

		flex-direction: column;
		gap: 10px;

		border: 1px solid var(--grey);
		border-top: none;
		background: #ffffff;
		border-radius: 0 0 40px 40px;
		@extend %hide-scroll;
	}

	.option {
		@extend %txt2;
		cursor: pointer;
		color: var(--grey);
		transition: .3s;

		&:hover {
			text-decoration: underline;
			color: var(--black);
		}
	}

	.not-found {
		@extend %txt2;
		color: #A6A9AA;
		text-align: center;
	}

	@media (width < 1024px) {
		background: #EBEBEB;
		height: 60px;
		border-color: transparent;

		input {
			background: transparent;
		}

		.menu {
			border-color: transparent;
			background: #EBEBEB;
		}
	}
}