/*
	<div class="tab-system">
		<div class="tab-trigger" data-tab="tab-1">Tab 1</div>
		<div class="tab-trigger" data-tab="tab-2">Tab 2</div>

		<div class="tab-content" data-tab="tab-1">Content 1</div>
		<div class="tab-content" data-tab="tab-2">
			Content 2
			<div class="tab-system">
				<div class="tab-trigger" data-tab="tab-inner-1">Inner Tab 1</div>
				<div class="tab-trigger" data-tab="tab-inner-2">Inner Tab 2</div>

				<div class="tab-content" data-tab="tab-inner-1">Inner Content 1</div>
				<div class="tab-content" data-tab="tab-inner-2">Inner Content 2</div>
			</div>
		</div>
	</div>
*/


.tab-system {
	.tab-trigger {
		color: var(--grey);
		position: relative;
		transition: .3s;

		&::after {
			content: "";
			position: absolute;
			bottom: 8px;
			left: 50%;
			translate: -50%;
			width: 9px;
			height: 9px;
			background: var(--black);
			border-radius: 50%;

			opacity: 0;
			transition: .3s;
		}

		&._active {
			color: var(--black);

			&::after {
				opacity: 1;
			}
		}
	}

	.tab-content {
		height: 0;
		overflow: hidden;

		&._active {
			height: unset;
		}
	}
}

// ------------------------------------------------------------------------------------------------

.component_tab-head {
	border-bottom: 1px solid var(--grey);

	display: flex;
	align-items: end;
	flex-direction: row-reverse;
	justify-content: space-between;

	&:not(:has(.component_search)) {
		flex-direction: row;
	}

	.component_search {
		@media (width >=1440px) {
			border-color: transparent;

			&:focus-within:not(:has(:placeholder-shown)) {
				border-color: var(--grey);
			}
		}
	}

	.tabs {
		display: flex;
		gap: 40px;
	}

	.tab-trigger {
		padding-bottom: 20px;
		@extend %txt;
	}

	@media (width < 1440px) {
		display: block;

		.component_search {
			margin-bottom: 40px;
		}
	}

	@media (width < 1024px) {
		.tabs {
			gap: 20px;
			overflow-x: auto;
			white-space: nowrap;

			margin: 0 calc(var(--container-padding) * -1) 0;
			padding: 0 var(--container-padding);
		}
	}

	@media (width < 425px) {
		.tabs {
			gap: 12px;
		}

		.tab-trigger {
			font-size: 16px;
		}
	}
}