.component_textarea {
	padding: 20px;
	height: 120px;

	font-family: Manrope;
	font-size: 20px;

	background: #FFFFFF;
	color: var(--black);
	border-radius: 34px;
	resize: none;
	line-height: 1.2;

	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;

	&::placeholder {
		color: var(--grey);
	}

	@media (width < 1440px) {
		font-size: 18px;
	}

	@media (width < 1024px) {
		border-radius: 28px;
		height: 80px;
		font-size: 16px;
	}

	@media (width < 768px) {
		padding: 12px 16px;
		font-size: 14px;
	}

	@media (width < 425px) {
		font-size: 12px;
	}
}